.container{
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    .book{
        margin: 10px 20px 0 0;
    }
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

}