@import "../../../styles/common";

.icon {
  font-family: icomoon;
  font-style: normal;
  font-size: 14px;

  &.icon-eye::after {
    content: $eye;
  }
  &.icon-cart::after {
    content: $cart;
  }

  &.icon-chevron-right::after{
    content: $cheveron-right;
  }

  &.icon-chevron-left::after{
    content: $cheveron-left;
  }

  &.icon-close::after{
    content: $close;
  }

  &.icon-delete::after{
    content: $delete;
    cursor: pointer;
  }
  

}
