@import "./common";

@import url("https://fonts.googleapis.com/css?family=Lato");

@font-face {
  font-family: "icomoon";
  src: url("../../assets/fonts/icomoon.eot");
  src: url("../../assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/icomoon.ttf") format("truetype"),
    url("../../assets/fonts/icomoon.woff") format("woff"),
    url("../../assets/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body,
html
 {
  background-color: $light-grey;
  font-family: "Lato" !important;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
#modal {
  position: relative;
  z-index: 999;

}





