@import "../../../styles/common";

.container{
    background: $white;
    margin: 50px 120px;
    padding: 16px;

    &.blank{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .button{
            margin-top: 16px;
        }

    }

    .label{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 16px;
    }

    .value{
        display: flex;
        justify-content: space-between;
        padding: 12px 0px;

        .icon{
            padding: 0 12px;
            cursor: pointer;
        }
    }

    .amount{
        display: flex;
        justify-content: space-between;
        padding-top: 16px;


        .price{
            font-weight: bold;
        }
    }
}